$text-dark: #404040;
$text-dark-hover: #585858;
$text-highlight: #323b44;
$text-light: #cfcfcf;
$text-light-hover: #ffffff;

$background-light: #ffffff;
$background-gray: #edf2f5;

$brand-light: #c8d2d9;
$brand: #38556a;
$brand-dark: #2b485d;

$layout-width: 1200px;
